.navbar{
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-items {
    width: 45%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
  
}

.nav-items > a{
    color: #a9b9bd;
    text-decoration: none;
}