.feacture-Section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60vh;
    /* border: 2px solid red; */
    margin-top: 30px;
}

.feacture-Section-Card{
    /* border: 2px solid red; */
    width: 60%;
    height: 50vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.feacture-Section-Card p{
    text-align: center;
}


.icon-container{
    background-color: #4782d3;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .icon {
    width: 50px;
    height: 50px;
    color: white;
}